h1,h2,h3{
    font-family: 'Exo 2', sans-serif;
                                                
}
h1, h3{
    color:#FFF;
}
h2, span{
    color:#F86F03;
}
.MainText{
    width:540px;
    height:355px;
    display:flex;
    flex-direction:column;
    align-items: start;
    justify-content:space-between;
    margin-top:100px;
    padding:0 70px;
}
p{
    width:440px;
    color:#FFF;
}
.icons-image{
    width:192px;
    height:31px;
    display:flex;
    justify-content:space-between;
}
.iconimage{
    width:28px;
    height:28px;
    color:#fff;
    margin:0px;
    padding:0px;
}
.dowload-cv{
    background-color: #F86F03;
    color:#fff;
    margin:0px;
}