.desktopAbout{
    width:1440px;
    height:800px;
    background-color:#170550;
}
.image-about{
    width:450px;
    height:580px;
    margin:0 50px;
}
.title-about{
    text-align:center;
    border-bottom: 3px solid #D9D9D9;
    width: 200px;
    margin: 0px auto;
    padding:40px 0 10px 0;
}
.title-about h2{
    color:#fff;
}
.title-about span{
    color:#f86f03;
    margin-left:10px;
}
.about-section{
    padding-top:50px;
    display:flex;
    justify-content:center;
    margin-left:50px;
}
.about-section .image-about{
    object-fit:cover;
    border-radius:15px;
    margin-right:0px;
}
.about-section .text-about{
    width:60%;
    border:1px solid white;
    margin-left:150px;
}
.about-section .text-about h2{
    width:307px;
    margin-bottom:30px;
}
.about-secti