.desktop-portfolio{
    background-color:#31065A;
    height:800px;
}
.title-portfolio{
    text-align:center;
    border-bottom: 3px solid #D9D9D9;
    width: 200px;
    margin: 0px auto;
    padding:40px 0 10px 0;
}
.section-portfolios{
    margin-top:50px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    height:420px;
    gap:20px;
}
.section-portfolios img{
    height:200px;
    width:275px;
}
